autoit==0.2.6
discord.py==2.7.1
keyboard==0.13.5
mouse==0.7.1
mss==10.1.0
numpy==2.4.3
opencv_python_headless==4.13.0.92
Pillow==12.1.1
psutil==7.0.0
pyautogui==0.9.54
PyAutoIt==0.6.5
pygetwindow==0.0.9
pywebview==6.1
pywin32==307
Requests==2.33.0
ttkbootstrap==1.10.1
winocr==0.0.15
pyinstaller==6.19.0
